<div>
    <form action="/sign-up" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">

        <label for="username">Username:</label>
        <input type="text" name="username">

        <label for="password">Password:</label>
        <input type="password" name="password">

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password">

        <button type="submit">SIGN UP</button>
       <%- include('../partials/errors') %>
    </form>
</div>